<ul class="main-navigation">
    <li>Nav item one (<%= url %>) </li>
    <li>Nav item two</li>

    <li><a href="/">Home</a></li>
    <li><a href="/newsletter">Newsletter</a></li>
    <li><a href="/campaign">Campaign</a></li>
    <li><a href="/offering-help">Offering help</a></li>
    <li><a href="/needing-help">Needing help</a></li>
    <li><a href="/links">Links</a></li>

</ul>