<div class="campaign-page">

    <%= erb :'_main-navigation', :locals => {'url' => '/campaign'} %>

    <div class="header-container">
        <h1 class="page-header">Campaign</h1>
        <p class="page-header">This is the campaign page</p>
    </div>
</div>

