<div class="home-page page">
<div class="header-container">
    <h1 class="page-header">Homepage</h1>
    <p class="page-header">This is the homepage</p>

    <%= erb :'_partials/_carousel' %>

    <ul>
        <li>Carousel with 3 images and image captions</li>
        <li>Listening to views on issues of both local and national importance – key campaigns I’m
            currently supporting</li>
        <li>I’m here for everyone across the communities I represent</li>
        <li>Short biog - Parliament since 1997 (check Wiki info) &amp;extract from Get to Know Your M.P.</li>
        <li>Newsletter archive link</li>
    </ul>
</div>
</div>

