<div class="needing-help-page">

    <%= erb :'_main-navigation', :locals => {'url' => '/needing-help'} %>

    <div class="header-container">
        <h1 class="page-header">Needing Help</h1>
        <p class="page-header">This is the needing help page</p>
    </div>
</div>

