<div class="news-letter-page">

    <%= erb :'_main-navigation', :locals => {'url' => '/newsletter'} %>

    <div class="header-container">
        <h1 class="page-header">Newsletter</h1>
        <p class="page-header">This is the newsletter page</p>
    </div>
</div>

