<div class="offering-help-page">

    <div class="header-container">
        <h1 class="page-header">Offering Help</h1>
        <p class="page-header">This is the offering help</p>
    </div>
</div>

