<div class="sidebar">
    <ul>
        <li>
            <a class="red-button" href="#">Newsletter Sign-Up</a>
        </li>
        <li>
            <a class="red-button" href="#">Contact me</a>
        </li>
        <li>
            <a class="red-button" href="#">volunteering</a>
        </li>
    </ul>
    <ul class="links-list">
        <li>
            <a class="link">Lorem</a>
        </li>
        <li>
            <a class="link">Ipsum</a>
        </li>
        <li>
            <a class="link">Dolar sit</a>
        </li>
    </ul>
</div>